@media screen and (max-width: 768px) {
  body {
    background-color: #F5F1F4;
  }
  header{
  	text-align: center;
  }
  nav{
  	background-color: #30A894;
  }
  ul{
  	list-style: none;
  }
  li{
  	padding: 30px;
  }
 header a{
 	list-style: none;
 	text-decoration-line: none;
 	color: white;
 	font-family: 'PT Sans Narrow', sans-serif;
 	font-size: 1.6rem;
 }
 h2,h3,h4{
 	font-family: 'PT Sans Narrow', sans-serif;
 	font-size: 1.6rem;
 	color: #30A894;
 }
 p{
 	font-family: 'Open Sans', sans-serif;
 	font-size: 1.6rem;
 	color: #A9AAAD;
 }
 aside{
 	display: none;
 }
  footer{
  	text-align: center;
 }
 footer a ,span{
 	color: #30A894;
 }
 footer img{
 	width: 5%;
 }
}